
#posts.clearfix
	- @posts.each do |post|
		.post
			.post_gif
				= image_tag "placeholder-head.svg"
			.post_content
				.title
					%h2= link_to post.title, post
				.image_row
					- post.heads.each do |head|
						= image_tag head.image.url(:medium), class: "head image_row_item"