// COLORS

$black:		#222;
$gray:		#CCC;
$white:		#FFF;

// TYPOGRAPHY

$font-stack: Helvetica, Arial, sans-serif;

// STYLES

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
