
// MIXINS


// COLORS

$black:		#222;
$gray:		#999;
$white:		#FFF;


// LAYOUT

$image_large:	100px;
$image_medium:	60px;
$image_small:	30px;


// STYLES

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
