// COLORS

$black:		#222;
$gray:		#999;
$white:		#FFF;


// STYLES

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
