
// COLORS

$black:		#222222;
$gray:		#999999;
$white:		#FFFFFF;


// BREAKPOINTS

$mobile-size:	em(320);
$tablet-size:	720px;
$desktop-size:	em(960);
$large-size:	em(1224);

// DIMENSIONS

$image-small: 	2rem;
$image-medium: 	3rem;
$image-large: 	100px;

$field-border-radius:	.25rem;