/*
 *= require_self
 */

@import 'bourbon';
@import 'neat';

@import 'color';
@import 'breakpoints';
@import 'type';
@import 'form';


body {
	margin: 0;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

button, .button {
	border: 1px solid $gray;
	padding: .75rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: $white;
	color: $gray;
	text-align: center;
	text-decoration: none;
}

input {
	border: none;
	border-bottom: 1px $gray solid;
	padding: .5rem .25rem;
	font-family: $font-stack;
	font-weight: 400;

}

header {
	width: 100%;
	padding: 2rem 0;
	#logo {
		float: left;
		font-size: 1.75rem;
		a {
			color: $black;
			text-decoration: none;
			&:hover {
				color: $gray;
			}
		}
	}
	nav {
		float: right;
		a {
			margin-left: 1.5rem;
			line-height: 2;
			color: $gray;
			text-decoration: none;
			&:hover {
				color: $black;
			}
		}
	}
}

.head {
	&:hover {
		opacity: .9;
	}
}

$image-small: 	2rem;
$image-medium: 	3rem;
$image-large: 	100px;

@import 'home.css.scss';
@import 'posts.css.scss';