#intro {
	background: $black;
	color: $white;
	padding: 1.5em 0;
	line-height: 1;
	margin-bottom: 1rem;
}

#posts {
	.post {
		@include media($mobile) {
		  @include span-columns(12);
		}
		@include media($desktop) {
		  @include span-columns(6);
		  @include omega (2n);
		}
		@include media($large) {
		  @include span-columns(4);
		  @include omega (3n);
		}

		margin-top: 1rem;
		margin-bottom: 1rem;
		.post_gif {
			@include media($mobile) {
				display: none;
			}
			@include media($desktop) {
			  @include span-columns(1 of 6);
			}
			@include media($large) {
			  @include span-columns(1 of 4);
			}

			border-radius: 50%; // set to toggle with view switch
			overflow: hidden;
			img {
				width: 100%;
			}
		}
		.post_content {
			@include media($mobile) {
				@include span-columns(8 of 12);
			}
			@include media($desktop) {
			  @include span-columns(5 of 6);
			}
			@include media($large) {
			  @include span-columns(3 of 4);
			}

			h2 {
				margin: 0 0 .25rem 0;
			}
			.image_row {
				height: $image_small;
				overflow: hidden;
				.image_row_item {
					height: $image_small;
					width: $image_small;
					border-radius: 50%; // set to toggle with view switch
					img {
						width: 100%;
					}
				}
			}
			a {
				text-decoration: none;
				color: $black;
				&:hover {
					color: $gray;
				}
			}
		}
	}
}
