#intro {
	background: $black;
	color: $white;
	padding: 1.5em 0;
	line-height: 1.25;
	margin-bottom: 2rem;
	margin-top: -2rem;
	h1 {
		margin: 2rem 0;
		@include media($large) {
			margin: 4rem 0;
		}
	}
}

#posts {
	.post {
		margin: 2rem 0;

		@include media($mobile) {
		  @include span-columns(4);
		}
		@include media($tablet) {
		  @include span-columns(8);
		}
		@include media($desktop) {
		  @include span-columns(6);
		  @include omega (2n);
		}
		@include media($large) {
		  @include span-columns(8);
		  @include omega (2n);
		}

		.post_gif {
			display: none !important;  //temp
			@include media($mobile) {
				display: none;
			}
			@include media($tablet) {
			  @include span-columns(1 of 8);
			  // display: block;
			  // float: left;
			  // height: 69px;
			  // margin-right: 1rem;
			}
			@include media($desktop) {
			  @include span-columns(1 of 6);
			}
			@include media($large) {
			  @include span-columns(1 of 8);
			}


			// border-radius: 50%; // set to toggle with view switch
			img {
				width: 100%;
			}
		}
		.post_content {
			@include media($mobile) {
				@include span-columns(4);
			}
			@include media($tablet) {
			  @include span-columns(7 of 8);
			}

			@include media($desktop) {
			  @include span-columns(5 of 6);
			}
			@include media($large) {
			  @include span-columns(7 of 8);
			}

			.image_row {
				height: $image_medium;
				overflow: hidden;
				a {
				}
				.image_row_item {
					display: inline-block;
					width: $image_medium;
					height: $image_medium;
					img {
						width: 100%;
					}
				}
			}
			a {
				text-decoration: none;
				color: $black;
				&:hover {
					color: $gray;
				}
			}
		}
	}
}

